#define INCL_NLS
#include <os2.h>
#include "DeRegisterer.h"

DLGTEMPLATE ClassEnterDialog 
BEGIN
	DIALOG "DeRegisterer v. 0.5 (c) Jens Glathe, 1995", 100, 0, 0, 274, 141, FS_DLGBORDER | NOT WS_VISIBLE | WS_CLIPSIBLINGS | WS_SAVEBITS, FCF_SYSMENU | FCF_TITLEBAR | FCF_TASKLIST
	BEGIN
		DEFPUSHBUTTON "DeRegister", ACTION_DOIT, 17, 11, 51, 14
		PUSHBUTTON "Close", DID_CANCEL, 79, 11, 51, 14
		PUSHBUTTON "Help", ACTION_HELP, 141, 11, 51, 14;, BS_HELP
		CONTROL "~Select the Object Class you want to deregister:", LISTTITLE, 17, 126, 216, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "12.Times New Roman"
		CONTROL "", CLASSLIST, 17, 57, 240, 70, WC_LISTBOX, WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", MESSAGETEXT, 17, 30, 240, 20, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "10.Helv"
	END

END

ICON TITLEICON dynamite.ico


HELPTABLE DEREGHELPTABLE 
BEGIN
	HELPITEM ClassEnterDialog, DRDLGSUB, DLGHELPTEXT
END


HELPSUBTABLE DRDLGSUB 
BEGIN
END

